$bg-light: #f9fafb;
$bg-dark: #1a2235;
$border-light: #efefef;
$border-dark: #212a41;
$primaryDark: #12192c;
$font-light: #6f6f6f;
$font-light2: #02071d;
$font-dark: #90949b;
$hover-light: #37b58f;
$hover-dark: #76b1e7;
$inner-light: #e7f4fd;
$inner-dark: #1e2943;
$white: #fff;
$black: #000;
$innerInput-light: #F5F9FF;
$button-bg: #0b9cfc;
$button-bg-hover: #0788df;
$text-fade:#A6A6A6;
$icon-light:#0095ff;
$icon-dark:#746CFE;

