.mode2 {
  display: none;
}
.kl {
  display: none;
}
.DARK-mainframe,
.LIGHT-mainframe {
  .fixedWrapper .left1 .fullheight .modechange ul li {
    &:last-child {
      display: none;
    }
  }
}
.LIGHT-mainframe {
  @include centerByFlex;
  background-color: $bg-light;
  transition: 0.25s;
  .fixedWrapper {
    width: 100%;
    display: flex;
    max-width: $MAX-WIDTH;
    .smallsidebar {
      display: none;
      background-color: $white;
      border-right: 1px solid $border-light;
      margin-top: 5.8rem;
      width: 22rem;
      height: 100vh;
      z-index: 2;
      position: fixed;
      .option,
      .modechange {
        padding: 2rem;
        width: 100%;
      }
      .modechange {
        padding-top: 0;
        .option2 {
          display: flex;
          padding: 0.8rem;
          border-radius: 0.8rem;
          font-size: 1.8rem;
          align-items: center;
          cursor: pointer;
          color: $font-light;
          &:hover {
            background-color: rgba($color: $hover-light, $alpha: 0.1);
          }
          .icon {
            color: $icon-light;
            @include centerByFlex();
            font-size: 2.5rem;
            margin-right: 0.5rem;
          }
        }

        .mode {
          display: flex;
          padding: 1rem;
          justify-content: space-between;
          align-items: center;
          .icon {
            font-size: 2.5rem;
            @include centerByFlex;
            color: $icon-light;
          }
          .toggle-switch {
            position: relative;
            width: 65px;
            display: inline-block;
            text-align: left;
          }
          .checkbox {
            display: none;
          }
          .label {
            display: block;
            overflow: hidden;
            cursor: pointer;
            border: 0 solid #bbb;
            border-radius: 20px;
          }
          .inner {
            display: block;
            width: 200%;
            margin-left: -100%;
            transition: margin 0.3s ease-in 0s;
          }
          .inner:before,
          .inner:after {
            float: left;
            width: 50%;
            height: 2.5rem;
            padding: 0;
            line-height: 2.5rem;
            color: #fff;
            font-weight: bold;
            box-sizing: border-box;
          }
          .inner:before {
            content: " ";
            padding-left: 10px;
            background-color: #bbb;
            color: #fff;
          }
          .inner:after {
            content: " ";
            padding-right: 10px;
            background-color: #bbb;
            color: #fff;
            text-align: right;
          }
          .switch {
            display: block;
            width: 15px;
            margin: 5px;
            background: #fff;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 40px;
            border: 0 solid #bbb;
            border-radius: 20px;
            transition: all 0.3s ease-in 0s;
          }
          .checkbox:checked + .label .inner {
            margin-left: 0;
          }
          .checkbox:checked + .label .switch {
            left: 0px;
          }
        }
      }
      .option {
        padding-bottom: 0;
        width: 100%;
        .option1 {
          color: $font-light;
          display: flex;
          padding: 0.8rem;
          border-radius: 1rem;
          font-size: 1.8rem;
          align-items: center;
          &:hover {
            background-color: rgba($color: $hover-light, $alpha: 0.1);
          }
          cursor: pointer;
          .icon {
            color: $icon-light;
            font-size: 2.5rem;
            @include centerByFlex;
            margin-right: 0.5rem;
          }
        }
      }
    }
    .left1 {
      flex: 2;
      position: fixed;
      margin-top: 5rem;
      left: 3.4%;
      width: 22rem;
      .fullheight {
        height: 91vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0 2rem 0;

        .option,
        .modechange {
          background-color: $white;
          border: 1px solid $border-light;
          border-radius: 1.5rem;
          padding: 2rem;
          width: 100%;
        }
        .modechange {
          .option2 {
            display: flex;
            padding: 1rem;
            border-radius: 0.8rem;
            font-size: 1.8rem;
            align-items: center;
            cursor: pointer;
            color: $font-light;
            &:hover {
              background-color: rgba($color: $hover-light, $alpha: 0.1);
            }
            .icon {
              color: $icon-light;
              @include centerByFlex();
              font-size: 2.6rem;
              margin-right: 0.8rem;
            }
          }

          .mode {
            display: flex;
            padding: 1rem;
            justify-content: space-between;
            align-items: center;
            .icon {
              font-size: 3rem;
              @include centerByFlex;
              color: $icon-light;
            }
            .toggle-switch {
              position: relative;
              width: 65px;
              display: inline-block;
              text-align: left;
            }
            .checkbox {
              display: none;
            }
            .label {
              display: block;
              overflow: hidden;
              cursor: pointer;
              border: 0 solid #bbb;
              border-radius: 20px;
            }
            .inner {
              display: block;
              width: 200%;
              margin-left: -100%;
              transition: margin 0.3s ease-in 0s;
            }
            .inner:before,
            .inner:after {
              float: left;
              width: 50%;
              height: 2.5rem;
              padding: 0;
              line-height: 2.5rem;
              color: #fff;
              font-weight: bold;
              box-sizing: border-box;
            }
            .inner:before {
              content: " ";
              padding-left: 10px;
              background-color: #746cfe;
              color: #fff;
            }
            .inner:after {
              content: " ";
              padding-right: 10px;
              background-color: #bbb;
              color: #fff;
              text-align: right;
            }
            .switch {
              display: block;
              width: 15px;
              margin: 5px;
              background: #fff;
              position: absolute;
              top: 0;
              bottom: 0;
              right: 40px;
              border: 0 solid #bbb;
              border-radius: 20px;
              transition: all 0.3s ease-in 0s;
            }
            .checkbox:checked + .label .inner {
              margin-left: 0;
            }
            .checkbox:checked + .label .switch {
              right: 0px;
            }
          }
        }
        .option {
          width: 100%;
          .option1 {
            color: $font-light;
            display: flex;
            padding: 0.8rem;
            border-radius: 1rem;
            font-size: 1.8rem;
            align-items: center;
            &:hover {
              background-color: rgba($color: $hover-light, $alpha: 0.1);
            }
            cursor: pointer;
            .icon {
              color: $icon-light;
              font-size: 2.5rem;
              @include centerByFlex;
              margin-right: 0.5rem;
            }
          }
        }
      }
    }

    .hr1 {
      border: none;
      border-bottom: 1.5px solid $border-light;
      margin: 1rem 0 1.5rem;
      width: 100%;
      max-width: 75rem;
    }

    .hr2 {
      border: none;
      border-bottom: 1.5px solid $border-light;
      margin: 1rem 0 1rem;
    }
    .post {
      padding: 2rem;
      display: flex;
      flex: 5;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 5rem;

      .mypost {
        background-color: $white;
        padding: 1.5rem 1.2rem;
        border: 1px solid $border-light;
        border-radius: 2rem;
        width: 100%;
        max-width: 75rem;
        .head {
          display: flex;
          justify-content: space-between;

          .aa {
            margin-left: 0.8rem;
            .imgicon {
              height: 4.5rem;
              width: 4.5rem;
              border-radius: 50%;
              overflow: hidden;
              cursor: pointer;
            }
            display: flex;
            justify-content: space-between;

            .username {
              font-size: 1.8rem;
              margin-left: 1rem;
              .date {
                font-size: 1.2rem;
              }
            }
          }

          .dropdown {
            margin-top: 0.8rem;
            font-size: 2.8rem;
          }
        }

        .postimg {
          @include centerByFlex;
          div {
            width: 95%;
            img {
              border-radius: 1.5rem;
            }
          }
        }

        .option1 {
          font-size: 2.5rem;
          display: flex;
          justify-content: space-between;
          padding: 0.8rem 1.3rem 0 1.3rem;

          .aa {
            display: flex;
          }
        }
      }

      .postcrte {
        padding: 1rem 1.5rem;
        background-color: $white;
        border: 1px solid $border-light;
        border-radius: 2rem;
        padding-bottom: 1rem;
        width: 100%;
        max-width: 75rem;
        hr {
          margin-top: 0.8rem;
          border: none;
          border-bottom: 1px solid $border-light;
        }
        .name {
          font-size: 1.8rem;
          color: #091127;
          font-weight: 500;
        }
        .post1 {
          .postform {
            .aa {
              margin: 0;
              margin-top: 0.8rem;
              width: 100%;
              height: 9rem;
              resize: none;
              background-color: rgba($color: $inner-light, $alpha: 0.45);
              border: 1px solid $border-light;
              color: $font-light;
              white-space: pre-wrap;
              &::-webkit-scrollbar {
                width: 0.5rem;
              }
              &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: #bbb;
              }
            }
          }

          .post2 {
            display: flex;
            align-items: center;
            justify-content: end;

            .imgicon {
              font-size: 2.9rem;
              color: $icon-light;
              cursor: pointer;
              @include centerByFlex;
              margin-top: 0.8rem;
            }

            .btn-1 {
              font-size: 1.4rem;
              background-color: $icon-light;
              color: #ffffff;
              margin: 0.8rem 0 0 0.8rem;
            }
          }
        }
      }
    }

    .right1 {
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 0 2rem 0;
      position: fixed;
      right: 2.2%;
      width: 25rem;
      margin-top: 5rem;

      .news {
        color: $font-light;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.6rem;
        background-color: $white;
        border: 1px solid $border-light;
        border-radius: 1.5rem;
        padding: 0.8rem;
        width: 90%;
        height: 34.5rem;
        .icon {
          color: $icon-light;
          @include centerByFlex();
          font-size: 3rem;
        }
        .ll {
          border: none;
          border-bottom: 1px solid $border-light;
          margin-top: 0.2rem;
          width: 100%;
        }
      }
    }
  }
}
.DARK-mainframe {
  @include centerByFlex;
  background-color: $bg-dark;
  .fixedWrapper {
    width: 100%;
    display: flex;
    max-width: $MAX-WIDTH;
    .smallsidebar {
      display: none;
      background-color: $primaryDark;
      border-right: 1px solid $border-dark;
      margin-top: 5.8rem;
      width: 22rem;
      height: 100vh;
      z-index: 2;
      position: fixed;
      border-top: 1px solid $border-dark;
      .option,
      .modechange {
        padding: 2rem;
        width: 100%;
      }
      .modechange {
        padding-top: 0;
        .option2 {
          display: flex;
          padding: 0.8rem;
          border-radius: 0.8rem;
          font-size: 1.8rem;
          align-items: center;
          cursor: pointer;
          color: $font-dark;
          &:hover {
            background-color: rgba($color: $hover-dark, $alpha: 0.1);
          }
          .icon {
            color: $icon-dark;
            @include centerByFlex();
            font-size: 2.5rem;
            margin-right: 0.5rem;
          }
        }

        .mode {
          display: flex;
          padding: 1rem;
          justify-content: space-between;
          align-items: center;
          .icon {
            font-size: 2.5rem;
            @include centerByFlex;
            color: $icon-dark;
          }
          .toggle-switch {
            position: relative;
            width: 65px;
            display: inline-block;
            text-align: left;
          }
          .checkbox {
            display: none;
          }
          .label {
            display: block;
            overflow: hidden;
            cursor: pointer;
            border: 0 solid #bbb;
            border-radius: 20px;
          }
          .inner {
            display: block;
            width: 200%;
            margin-left: -100%;
            transition: margin 0.3s ease-in 0s;
          }
          .inner:before,
          .inner:after {
            float: left;
            width: 50%;
            height: 2.5rem;
            padding: 0;
            line-height: 2.5rem;
            color: #fff;
            font-weight: bold;
            box-sizing: border-box;
          }
          .inner:before {
            content: " ";
            padding-left: 10px;
            background-color: #746cfe;
            color: #fff;
          }
          .inner:after {
            content: " ";
            padding-right: 10px;
            background-color: #bbb;
            color: #fff;
            text-align: right;
          }
          .switch {
            display: block;
            width: 15px;
            margin: 5px;
            background: #fff;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 40px;
            border: 0 solid #bbb;
            border-radius: 20px;
            transition: all 0.3s ease-in 0s;
          }
          .checkbox:checked + .label .inner {
            margin-left: 0;
          }
          .checkbox:checked + .label .switch {
            right: 0px;
          }
        }
      }
      .option {
        padding-bottom: 0;
        width: 100%;
        .option1 {
          color: $font-dark;
          display: flex;
          padding: 0.8rem;
          border-radius: 1rem;
          font-size: 1.8rem;
          align-items: center;
          &:hover {
            background-color: rgba($color: $hover-dark, $alpha: 0.1);
          }
          cursor: pointer;
          .icon {
            color: $icon-dark;
            font-size: 2.5rem;
            @include centerByFlex;
            margin-right: 0.5rem;
          }
        }
      }
    }
    .left1 {
      flex: 2;
      position: fixed;
      margin-top: 5rem;
      left: 3.4%;
      width: 22rem;
      .fullheight {
        height: 91vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0 2rem 0;

        .option,
        .modechange {
          background-color: $primaryDark;
          border: 1px solid $border-dark;
          border-radius: 1.5rem;
          padding: 2rem;
          width: 100%;
        }
        .modechange {
          .option2 {
            display: flex;
            padding: 1rem;
            border-radius: 0.8rem;
            font-size: 1.8rem;
            align-items: center;
            cursor: pointer;
            color: $font-dark;
            &:hover {
              background-color: rgba($color: $hover-dark, $alpha: 0.1);
            }
            .icon {
              color: $icon-dark;
              @include centerByFlex();
              font-size: 2.6rem;
              margin-right: 0.8rem;
            }
          }

          .mode {
            display: flex;
            padding: 1rem;
            justify-content: space-between;
            align-items: center;
            .icon {
              font-size: 3rem;
              @include centerByFlex;
              color: $icon-dark;
            }
            .toggle-switch {
              position: relative;
              width: 65px;
              display: inline-block;
              text-align: left;
            }
            .checkbox {
              display: none;
            }
            .label {
              display: block;
              overflow: hidden;
              cursor: pointer;
              border: 0 solid #bbb;
              border-radius: 20px;
            }
            .inner {
              display: block;
              width: 200%;
              margin-left: -100%;
              transition: margin 0.3s ease-in 0s;
            }
            .inner:before,
            .inner:after {
              float: left;
              width: 50%;
              height: 2.5rem;
              padding: 0;
              line-height: 2.5rem;
              color: #fff;
              font-weight: bold;
              box-sizing: border-box;
            }
            .inner:before {
              content: " ";
              padding-left: 10px;
              background-color: #746cfe;
              color: #fff;
            }
            .inner:after {
              content: " ";
              padding-right: 10px;
              background-color: #bbb;
              color: #fff;
              text-align: right;
            }
            .switch {
              display: block;
              width: 15px;
              margin: 5px;
              background: #fff;
              position: absolute;
              top: 0;
              bottom: 0;
              right: 40px;
              border: 0 solid #bbb;
              border-radius: 20px;
              transition: all 0.3s ease-in 0s;
            }
            .checkbox:checked + .label .inner {
              margin-left: 0;
            }
            .checkbox:checked + .label .switch {
              right: 0px;
            }
          }
        }
        .option {
          width: 100%;
          .option1 {
            color: $font-dark;
            display: flex;
            padding: 0.8rem;
            border-radius: 1rem;
            font-size: 1.8rem;
            align-items: center;
            &:hover {
              background-color: rgba($color: $hover-dark, $alpha: 0.1);
            }
            cursor: pointer;
            .icon {
              color: $icon-dark;
              font-size: 2.5rem;
              @include centerByFlex;
              margin-right: 0.5rem;
            }
          }
        }
      }
    }

    .hr1 {
      width: 100%;
      border: none;
      border-bottom: 1.5px solid $border-dark;
      margin: 1rem 0 1.5rem;
      max-width: 75rem;
    }

    .hr2 {
      border: none;
      border-bottom: 1.5px solid $border-dark;
      margin: 1rem 0 1rem;
    }
    .post {
      padding: 2rem;
      display: flex;
      flex: 5;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 5rem;

      .mypost {
        background-color: $primaryDark;
        padding: 1.5rem 1.2rem;
        border: 1px solid $border-dark;
        border-radius: 2rem;
        width: 100%;
        max-width: 75rem;
        .head {
          display: flex;
          justify-content: space-between;

          .aa {
            margin-left: 0.8rem;
            .imgicon {
              color: $font-dark;
              height: 4.5rem;
              width: 4.5rem;
              border-radius: 50%;
              overflow: hidden;
              cursor: pointer;
            }
            display: flex;
            justify-content: space-between;

            .username {
              color: $font-dark;
              font-size: 1.8rem;
              margin-left: 1rem;
              .date {
                font-size: 1.2rem;
              }
            }
          }

          .dropdown {
            color: $font-dark;
            margin-top: 0.8rem;
            font-size: 2.8rem;
          }
        }

        .postimg {
          @include centerByFlex;
          div {
            width: 95%;
            img {
              border-radius: 1.5rem;
            }
          }
        }

        .option1 {
          color: $font-dark;
          font-size: 2.5rem;
          display: flex;
          justify-content: space-between;
          padding: 0.8rem 1.3rem 0 1.3rem;

          .aa {
            display: flex;
          }
        }
      }
      .postcrte {
        padding: 1rem 1.5rem;
        background-color: $primaryDark;
        border: 1px solid $border-dark;
        border-radius: 2rem;
        padding-bottom: 1rem;
        width: 100%;
        max-width: 75rem;

        hr {
          margin-top: 0.8rem;
          border: none;
          border-bottom: 1px solid $border-dark;
        }
        .name {
          font-size: 1.8rem;
          color: $font-dark;
          font-weight: 500;
        }
        .post1 {
          .postform {
            .aa {
              margin: 0;
              margin-top: 0.8rem;
              width: 100%;
              height: 9rem;
              resize: none;
              background-color: rgba($color: $inner-dark, $alpha: 0.45);
              border: 1px solid $border-dark;
              color: $font-dark;
              white-space: pre-wrap;
              &::-webkit-scrollbar {
                width: 0.5rem;
              }
              &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: $scrollbar-light;
              }
            }
          }

          .post2 {
            display: flex;
            align-items: center;
            justify-content: end;

            .imgicon {
              font-size: 2.9rem;
              color: $icon-dark;
              cursor: pointer;
              @include centerByFlex;
              margin-top: 0.8rem;
            }

            .btn-1 {
              font-size: 1.4rem;
              background-color: $icon-dark;
              color: #ffffff;
              margin: 0.8rem 0 0 0.8rem;
            }
          }
        }
      }
    }

    .right1 {
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 0 2rem 0;
      position: fixed;
      right: 2.2%;
      width: 25rem;
      margin-top: 5rem;

      .news {
        color: $font-dark;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.6rem;
        background-color: $primaryDark;
        border: 1px solid $border-dark;
        border-radius: 1.5rem;
        padding: 0.8rem;
        width: 90%;
        height: 34.5rem;
        .icon {
          color: $icon-dark;
          @include centerByFlex();
          font-size: 3rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 1294px) {
  .DARK-mainframe,
  .LIGHT-mainframe {
    .fixedWrapper {
      .hr1 {
        max-width: 70rem;
      }
      .post {
        .mypost,
        .postcrte {
          max-width: 70rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 1242px) {
  .DARK-mainframe,
  .LIGHT-mainframe {
    .fixedWrapper {
      .hr1 {
        max-width: 65rem;
      }
      .post {
        .mypost,
        .postcrte {
          max-width: 65rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 1184px) {
  .DARK-mainframe,
  .LIGHT-mainframe {
    .fixedWrapper {
      .hr1 {
        max-width: 60rem;
      }
      .post {
        .mypost,
        .postcrte {
          max-width: 60rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 1138px) {
  .DARK-mainframe,
  .LIGHT-mainframe {
    .fixedWrapper {
      .left1 {
        left: 0.7%;
      }
      .right1 {
        right: -0.8%;
      }
    }
  }
}
@media only screen and (max-width: 1068px) {
  .DARK-mainframe,
  .LIGHT-mainframe {
    .fixedWrapper {
      .left1 {
        width: 20rem;
      }
      .right1 {
        width: 23rem;
      }
    }
  }
}
@media only screen and (max-width: 1026px) {
  .DARK-mainframe,
  .LIGHT-mainframe {
    .fixedWrapper {
      .left1 {
        width: 10rem;
        .fullheight {
          .option {
            width: auto;
            .option1 {
              padding: 0;
              padding-bottom: 0.8rem;
              .icon {
                margin-right: 0;
              }
              .name {
                display: none;
              }
            }
          }
          .modechange {
            width: auto;
            ul li {
              &:last-child {
                display: initial;
              }
            }
            .option2 {
              padding: 0;
              padding-bottom: 0.8rem;
              .icon {
                margin-right: 0;
                padding: 0;
              }
              .name {
                display: none;
              }
            }
            .mode {
              display: none;
            }
          }
        }
      }
      .right1 {
        display: none;
      }
    }
  }
}
@media only screen and (max-width: 794px) {
  .DARK-mainframe,
  .LIGHT-mainframe {
    .fixedWrapper {
      .hr1 {
        max-width: 50rem;
      }
      .post {
        .mypost,
        .postcrte {
          max-width: 50rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 690px) {
  .DARK-mainframe,
  .LIGHT-mainframe {
    .fixedWrapper {
      .hr1 {
        max-width: 40rem;
      }
      .post {
        .mypost,
        .postcrte {
          max-width: 40rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 590px) {
  .DARK-mainframe,
  .LIGHT-mainframe {
    .fixedWrapper {
      .hr1 {
        max-width: 60rem;
      }
      .post {
        .mypost,
        .postcrte {
          max-width: 60rem;
        }
      }
      .left1 {
        display: none;
      }
      .smallsidebar {
        display: initial;
        transition: 0.5s;
      }
      .smallsidebar-close {
        transform: translateX(-100%);
      }
      .smallsidebar-expand {
        transform: translateX(0%);
      }
    }
  }
}
