.nav_rapper {
    @include centerByFlex;
    justify-content: space-between;
    border: 1px solid $border-light;

    .left {
        .logo {
            width: 9.4rem;
            height: 4.1rem;
            margin-left: 1.8rem;
        }
    }

    .right {
        @include centerByFlex;
        justify-content: space-between;
        margin-right: 2rem;

        .serachbox {
            @include centerByFlex;
            justify-content: flex-start;
            border: 1px solid $border-light;
            border-radius: 3rem;
            background-color: #E7F4FD;
            width: 30rem;
            padding:0 1rem 0 1rem;
            height: 4rem;

            .srchicon {
                font-size: 2rem;
                color:$text-fade;
                
            }
            .aa {
                background: transparent;
                border: none;
                &::placeholder{
                    color: $text-fade;
                    font-weight: 300;
                }
                
               
            }
        }

        .ll {
            @include centerByFlex;
            justify-content: space-between;
            margin-left: 5rem;
        
            .profileicon {
            @include centerByFlex;

                font-size: 6rem;
                color: #93b8b3;

            }

            .username {
                font-size: 1.5rem;
            }
        }
    }
}
