.LIGHT-nav_rapper {
  background-color: $white;
  @include centerByFlex;
  z-index: 9;
  position: fixed;
  width: 100%;
  background: rgba($color: $white, $alpha: 0.65);
  backdrop-filter: blur(8px);
  .fixedwrapper {
    width: 100%;
    @include centerByFlex;
    max-width: $MAX-WIDTH;
    justify-content: space-between;
    padding: 0.9rem 0;
    .left {
      .logo {
        width: 9.4rem;
        height: 4.1rem;
        margin-left: 1.8rem;
        cursor: pointer;
        .logo-large {
          display: initial;
        }
        .logo-small {
          display: none;
        }
      }
    }

    .right {
      @include centerByFlex;
      justify-content: space-between;
      margin-right: 2rem;

      .serachbox {
        @include centerByFlex;
        justify-content: flex-start;
        border: 1px solid $border-light;
        border-radius: 3rem;
        background-color: #e7f4fd;
        width: 30rem;
        padding: 0 1rem 0 1rem;
        height: 4rem;

        .srchicon {
          font-size: 2rem;
          color: $text-fade;
          @include centerByFlex;
        }
        .aa {
          background: transparent;
          border: none;
          &::placeholder {
            color: $text-fade;
            font-weight: 300;
          }
        }
      }

      .ll {
        @include centerByFlex;
        justify-content: space-between;
        margin-left: 5rem;

        .profileicon {
          @include centerByFlex;
          height: 4rem;
          width: 4rem;
          border-radius: 50%;
          overflow: hidden;
          font-size: 6rem;
          color: #93b8b3;
        }

        .username {
          margin-left: 0.8rem;
          font-size: 1.5rem;
        }
      }
    }
  }
}
.DARK-nav_rapper {
  background-color: $primaryDark;
  @include centerByFlex;
  z-index: 9;
  position: fixed;
  width: 100%;
  background: rgba($color: $primaryDark, $alpha: 0.65);
  backdrop-filter: blur(8px);
  .fixedwrapper {
    width: 100%;
    @include centerByFlex;
    max-width: $MAX-WIDTH;
    justify-content: space-between;
    padding: 0.9rem 0;
    .left {
      .logo {
        width: 9.4rem;
        height: 4.1rem;
        cursor: pointer;
        margin-left: 1.8rem;
        .logo-large {
          display: initial;
        }
        .logo-small {
          display: none;
        }
      }
    }

    .right {
      @include centerByFlex;
      justify-content: space-between;
      margin-right: 2rem;

      .serachbox {
        background: $inner-dark;

        @include centerByFlex;
        justify-content: flex-start;
        border: 1px solid $border-dark;
        border-radius: 3rem;
        width: 30rem;
        padding: 0 1rem 0 1rem;
        height: 4rem;
        position: relative;

        .srchicon {
          font-size: 2rem;
          @include centerByFlex;
          color: $text-fade;
        }
        .suggessition{
          background-color: rgba($color: $primaryDark, $alpha: 1);
          position: absolute;
          top: 110%;
          left: 0;
          right: 0;
          border: 1px solid $border-dark;
          color: rgba($color: $white, $alpha: 1);
          padding: 0.9rem 1rem;
          border-radius: 8px;
          font-size: 1.5rem;
          .user{
            display: grid;
            align-items: center;
            grid-template-columns: auto 2rem;
            cursor: pointer;
            border-radius: 8px;
            padding: 0.3rem 1rem;
            &:hover{
              background-color: rgba($color: #93b8b3, $alpha: 0.02);
            }
            .left{
              display: flex;
              gap: 1rem;
              align-items: center;
              .profile{
                height: 5rem;
                width: 5rem;
                border-radius: 50%;
                overflow: hidden;
                border: thin solid $border-dark;

              }
              .info .username{
                color: #727272;
              }
            }
            .add{
              font-size: 2rem;
              cursor: pointer;
            }
          }
        }
        .aa {
          background-color: transparent;
          border: none;
          color: $white;
          width: 100%;
          &::placeholder {
            color: $text-fade;
            font-weight: 300;
          }
        }
      }

      .ll {
        @include centerByFlex;
        justify-content: space-between;
        margin-left: 5rem;

        .profileicon {
          @include centerByFlex;
          height: 4rem;
          width: 4rem;
          border-radius: 50%;
          overflow: hidden;
          font-size: 6rem;
          color: #93b8b3;
        }

        .username {
          font-size: 1.5rem;
          margin-left: 0.8rem;
          color: $white;
        }
      }
    }
  }
}
@media only screen and (max-width: 690px) {
  .DARK-nav_rapper,
  .LIGHT-nav_rapper {
    .fixedwrapper {
      .left {
        .logo {
          width: 6rem;
          .logo-large {
            display: none;
          }
          .logo-small {
            display: initial;
          }
        }
      }
      .right {
        .serachbox {
          width: 20rem;
        }
        .ll {
          .username {
            display: none;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 590px) {
  .DARK-nav_rapper,
  .LIGHT-nav_rapper {
    .fixedwrapper {
      .right {
        .ll {
          margin-left: 2rem;
        }
        .kl {
          margin-left: 1.3rem;
          font-size: 2.4rem;
          @include centerByFlex;
        }
      }
    }
  }
  .DARK-nav_rapper {
    .fixedwrapper {
      .right {
        .kl {
          color: $white;
        }
      }
    }
  }
  .LIGHT-nav_rapper {
    .fixedwrapper {
      .right {
        .kl {
          color: $primaryDark;
        }
      }
    }
  }
}
@media only screen and (max-width: 414px) {
  .DARK-nav_rapper,
  .LIGHT-nav_rapper {
    .fixedwrapper {
      .left{
        .logo{
          margin-left: 1rem;
        }
      }
      .right {
        margin-right: 1rem;
        .serachbox{
          width: 15rem;
        }
        .ll {
          margin-left: 1rem;
        }
        .kl {
          margin-left: 1.3rem;
          font-size: 2.4rem;
          @include centerByFlex;
        }
      }
    }
  }
}
