.DARK-notificationFrame {
  flex: 5;
  padding: 2rem;
  .notificationWrapper {
    height: 100vh;
    overflow-y: auto;
    padding-top: 5rem;
    &::-webkit-scrollbar {
      display: none;
    }
    .notificationrow {
      padding: 0 0.5rem;
      @include centerByFlex;
      .outer {
        border: 1px solid $border-dark;
        padding: 2rem 1.5rem;
        border-radius: 8px;
        background-color: $primaryDark;
        color: $font-dark;
        font-size: 1.4rem;
        margin: 0.5rem 0;
        width: 100%;
        max-width: 75rem;
      }
    }
  }
}
.LIGHT-notificationFrame {
  flex: 5;
  padding: 2rem;
  .notificationWrapper {
    height: 100%;
    height: 100vh;
    overflow-y: auto;
    padding-top: 5rem;
    &::-webkit-scrollbar {
      display: none;
    }
    .notificationrow {
      @include centerByFlex;
      padding: 0 0.5rem;
      .outer {
        border: 1px solid $border-light;
        padding: 2rem 1.5rem;
        border-radius: 8px;
        background-color: $white;
        color: $font-light;
        font-size: 1.4rem;
        margin: 0.5rem 0;
        width: 100%;
        max-width: 75rem;
      }
    }
  }
}
@media only screen and (max-width: 1294px) {
  .DARK-notificationFrame,
  .LIGHT-notificationFrame {
    .notificationWrapper {
      .notificationrow {
        .outer {
          max-width: 70rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 1242px) {
  .DARK-notificationFrame,
  .LIGHT-notificationFrame {
    .notificationWrapper {
      .notificationrow {
        .outer {
          max-width: 65rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 1184px) {
  .DARK-notificationFrame,
  .LIGHT-notificationFrame {
    .notificationWrapper {
      .notificationrow {
        .outer {
          max-width: 60rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 792px) {
  .DARK-notificationFrame,
  .LIGHT-notificationFrame {
    .notificationWrapper {
      .notificationrow {
        .outer {
          max-width: 50rem;
        }
      }
    }
  }
}
