.LIGHT-profileFrame {
  flex: 5;
  padding: 2rem;
  min-height: 100vh;
  padding-top: 7rem;

  .profileWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .imgicon {
      height: 4.5rem;
      width: 4.5rem;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
    }
    .username5 {
      width: 100%;
      max-width: 75rem;
      display: flex;
      border: 1px solid $border-light;
      background-color: $white;
      border-radius: 2rem;
      width: 100%;
      align-items: center;
      padding: 1rem 1rem 1rem 1rem;
      color: $black;

      .icon {
        @include centerByFlex;
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
        overflow: hidden;
      }

      .name {
        margin-left: 1rem;
        margin-top: -2rem;
        .name1 {
          font-size: 3rem;
        }

        .username1 {
          font-size: 2rem;
        }
      }
    }
    .mypost {
      width: 100%;
      max-width: 75rem;
      min-width: 75rem;
    }
  }
}

.DARK-profileFrame {
  flex: 5;
  padding: 2rem;
  min-height: 100vh;
  padding-top: 7rem;

  .profileWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .imgicon {
      height: 4.5rem;
      width: 4.5rem;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
    }
    .username5 {
      width: 100%;
      max-width: 75rem;
      display: flex;
      border: 1px solid $border-dark;
      background-color: $primaryDark;
      border-radius: 2rem;
      width: 100%;
      align-items: center;
      padding: 1rem 1rem 1rem 1rem;
      color: $font-dark;

      .icon {
        @include centerByFlex;
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
        overflow: hidden;
      }

      .name {
        margin-left: 1rem;
        margin-top: -2rem;
        .name1 {
          font-size: 3rem;
        }

        .username1 {
          font-size: 2rem;
        }
      }
    }
    .mypost {
      width: 100%;
      max-width: 75rem;
      min-width: 75rem;
    }
  }
}
@media only screen and (max-width: 1294px) {
  .DARK-profileFrame,
  .LIGHT-profileFrame {
    .profileWrapper {
      .username5,
      .mypost {
        max-width: 70rem;
        min-width: 70rem;
      }
    }
  }
}
@media only screen and (max-width: 1242px) {
  .DARK-profileFrame,
  .LIGHT-profileFrame {
    .profileWrapper {
      .username5,
      .mypost {
        max-width: 65rem;
        min-width: 65rem;
      }
    }
  }
}
@media only screen and (max-width: 1184px) {
  .DARK-profileFrame,
  .LIGHT-profileFrame {
    .profileWrapper {
      .username5,
      .mypost {
        max-width: 60rem;
        min-width: 60rem;
      }
    }
  }
}
@media only screen and (max-width: 792px) {
  .DARK-profileFrame,
  .LIGHT-profileFrame {
    .profileWrapper {
      .username5,
      .mypost {
        min-width: 50rem;
        max-width: 50rem;
      }
    }
  }
}
@media only screen and (max-width: 690px) {
  .DARK-profileFrame,
  .LIGHT-profileFrame {
    .profileWrapper {
      .username5,
      .mypost {
        max-width: 40rem;
        min-width: 40rem;
      }
    }
  }
}
@media only screen and (max-width: 590px) {
  .DARK-profileFrame,
  .LIGHT-profileFrame {
    .profileWrapper {
      .username5,
      .mypost {
        max-width: 50rem;
        min-width: none;
      }
    }
  }
}



@media only screen and (max-width: 398px) {
  .DARK-profileFrame,
  .LIGHT-profileFrame {
    .profileWrapper {
     .username5{
      .icon{
        height: 7rem;
        width: 7rem;
      }
      .name{
        .name1{
          font-size: 1.5rem;
        }
      }
     }
     .username5,
      .mypost {
        max-width: 50rem;
      }
    }
  }
}