.LIGHT-profileFrame {
  flex: 5;
  padding: 2rem;

  .profileWrapper {
    .imgicon {
      height: 4.5rem;
      width: 4.5rem;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
    }
    .username5 {
      display: flex;
      border: 1px solid $border-light;
      background-color: $white;
      border-radius: 2rem;
      width: 100%;
      align-items: center;
      padding: 1rem 1rem 1rem 1rem;
      color: $black;

      .icon {
        @include centerByFlex;
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
        overflow: hidden;
      }

      .name {
        margin-left: 1rem;
        margin-top: -2rem;
        .name1 {
          font-size: 3rem;
        }

        .username1 {
          font-size: 2rem;
        }
      }
    }
  }
}

.DARK-profileFrame {
  flex: 5;
  padding: 2rem;

  .profileWrapper {
    .imgicon {
      height: 4.5rem;
      width: 4.5rem;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
    }
    .username5 {
      display: flex;
      border: 1px solid $border-dark;
      background-color: $primaryDark;
      border-radius: 2rem;
      width: 100%;
      align-items: center;
      padding: 1rem 1rem 1rem 1rem;
      color: $font-dark;

      .icon {
        @include centerByFlex;
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
        overflow: hidden;
      }

      .name {
        margin-left: 1rem;
        margin-top: -2rem;
        .name1 {
          font-size: 3rem;
        }

        .username1 {
          font-size: 2rem;
        }
      }
    }
  }
}
